main {
	padding-top:80px;
}

.row {
	padding: 0px 0px 50px 50px;
}

.column {
    float: left;
    width: 30%;
    padding-right: 20px;
}

.column img {
	border-radius: 10px;
	width: 380px;
	height: 250px;
    opacity: 1; 
    cursor: pointer;
}

.text{
	font-size: 21px;
	text-shadow: black 0.1em 0.1em 0.2em;
}